body {
    background: #f2f2f2;
}

.container-fluid {
    padding: 0;
}

.mt20 {
    margin-top: 20px;
}

.main-nav {
    background: #3399e5;
    height: 60px;
    line-height: 60px;
}

.nav-logo {
    width: 15%;
    color: #fff;
}

.nav-menu ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.nav-menu .btn-group {
    width: 30px;
    text-align: center;
}

.nav-menu > ul li {
    float: left;
}

.nav-menu > ul li > a {
    display: block;
    color: #fff;
    padding: 0 30px;
}

.menu-tab .active {
    background: #058de0;
}

a {
    text-decoration: none !important;
}

.dropdown-menu .divider {
    margin: 4px 0;
}

.dropdown-menu li a span {
    margin-left: 10px;
}

.main-content {
    padding: 20px;
}

.layout-step {
    background: #fff;
}

.layout-step-title {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    border-bottom: 1px solid #ddd;
}

.layout-step-content {
    padding: 20px;
}

.layout-drop {
    cursor: move;
}

.layout-step-close-btn {
    background: #f2f2f2;
}

.thing-menu li {
    float: left;
    margin-left: 10px;
}

.thing-menu a {
    color: #333;
}

.thing-menu a:hover {
    color: #23527c;
}

.thing-menu .think-active {
    color: #23527c;
}

.layout-step-content .layout-icon {
    float: left;

    cursor: pointer;
    padding: 10px 20px;
}

.layout-icon dd {
    margin-top: 10px;
}

.active-tab {
    display: block;
}

.news-items {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
}

.news-items-title:before {
    width: 10px;
    height: 10px;
    background: #3399e5;
    content: '';
    margin-right: 10px;
    border-radius: 50%;
    display: inline-block;
}

.news-items-time {
    min-width: 100px;
    text-align: center;
}

.news-items-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 30px;
    flex: 1;
}
.weather-now{
    display: flex;
    justify-content: center;
}
.weather-now-icon{
    padding: 20px;
}
.weather-forecast{
    display: flex;
    padding: 10px;
    justify-content: space-around;
}
.weather-now-info{
    display: flex;
    align-items: center;
}

.menu-tab li {
    display: flex;
    justify-content: space-between;
}

.menu-tab li span {
    padding: 0 10px;
    cursor: pointer;
    font-size: 16px;
    color: #ccc;
}
.course-table tr td{
    text-align: center;

}
.course-time{
    border-top: 1px dashed #999999;
}
.count-bar .tab-pane{padding: 15px;}
.count-bar .tab-pane>div{height: 350px}
.teacher-info dd{
    padding: 15px;
    border-bottom: 1px solid #f2f2f2;
}
.teacher-info dd i{
    margin-right: 15px;
}
.teacher-info dd:last-of-type{
    border-bottom: 0px solid #f2f2f2;
    padding-bottom: 0;
}
.teacher-info dt{
    padding: 10px;
    text-align: center;
    background:#32adff;
    border-radius: 5px;
}
.teacher-info dt img{
    width: 100px;
    height: 100px;
    border:1px solid #fff;
    background: #fff;
    border-radius: 50%;
}
.teacher-layout .layout-step-content{
    padding-top: 0;
    padding-bottom: 5px;
}
.notice-list p{
    width: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    border-bottom: 1px dashed #ccc;
    height: 30px;
}
.email-step{
    display: flex;
    justify-content: space-between;
}
.email-step a{
    color: #f00;
    padding: 0 5px;
}